//headings
h1 {
    text-align: center;
}

//btns
%button{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgba($black3, 0.2);
    }
}
.btn{
    @extend %button;
    border-radius: 3px;
    color: $brown3;
}
.social_btn{
    @extend %button;
    border-radius: 16px;
    color: $black3;
    padding: 0;
    margin: 0;
}

//a
%a_flat{
    text-decoration: none;
    color: $black1;
}

%li_flat{
    list-style-type: none;
}