nav {
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $black2;
    box-shadow: 1px 1px 7px $black3;
    display: none;
    float: left;

    @media #{$small} {
        float: none;
    }

    @media #{$x_large} {
        display: block;
    }

    li {
        @extend %li_flat;
    }

    .logo {
        text-align: center;
        text-shadow: 1px 1px 1px $brown2;
        padding-top: 1em;
        padding-bottom: 1.6em;
        border-bottom: rgba(white, 0.3) solid 2px;

        a {
            height: 100%;
            color: $color1;
            font-size: 35px;

            &:hover {
                color: $color2;
            }
        }

        img {
            height: 40px;
            margin-left: -10px;
            margin-bottom: -10px;
        }
    }



    .main {
        margin: 0;
        padding: 0.2em 1.5em;
        height: calc(100% - 215px);
        color: white;
        font-size: x-large;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        a {
            color: white;

            &:hover {
                text-shadow: 1px 1px 5px $color4;
            }

        }

        ;

        .current {
            text-shadow: 1px 1px 5px $color2;
        }
    }

    ;

    .main>li {
        margin: 0.5em 0;
    }

    .sub {
        font-size: large;
        text-indent: -1em;
        display: none;
    }

    ;

    .main_list {
        display: flex;
        justify-content: space-between;
        margin: 0.5em 0;
    }

    footer {
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-align: center;
        position: relative;
        left: 0;
        width: 100%;
        color: white;
        font-size: 12px;
    }
}

//drop down
input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    font-size: small;

    &:hover {
        cursor: pointer;
        text-shadow: 1px 1px 5px $color2;
    }
}


.search {
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    height: 2em;

    form {
        margin: 0;
        padding: 0;
        display: inline;
    }

    .search_input {
        color: white;
        font-family: $font2;
        font-size: large;
        border: none;
        border-bottom: solid 2px white;
        padding: 0;
        margin: 0;
        width: 85%;
        background: transparent;
        text-align: center;

        &:focus {
            outline: none;
        }

        &::placeholder {
            text-align: center;
            color: rgba(white, 0.7);
        }
    }
}

.nav_toggle {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 10;
    color: $color2;

    &:hover {
        color: $color3;
        cursor: pointer;
    }

    @media (max-width: 950px) {
        left: 5px;
    }

    @media #{$x_large} {
        left: 245px;
    }
}

.goup {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    color: $color2;
    display: none;

    &:hover {
        color: $color3;
        cursor: pointer;
    }
}