nav {
    float: left;
    width: 240px;
    margin: 0;
    padding: 0 0 15px 0;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
    background-color: rgba($black3, 0.9);
    box-shadow: 1px 1px 7px black;
    display: none;

    @media #{$x_large} {
        display: block;
        font-size: .85rem;
    }

    li {
        @extend %li_flat;
    }

    .logo {
        text-align: center;
        text-shadow: 1px 1px 1px $brown2;
        padding-bottom: 1.6em;
        border-bottom: rgba(white, 0.3) solid 2px;

        a {
            height: 100%;
            color: $color1;
            font-size: 35px;

            &:hover {
                color: $color2;
            }
        }

        img {
            height: 40px;
            margin-left: -10px;
            margin-bottom: -10px;
        }
    }



    .main {
        margin: 0;
        padding: 0.2em 1.5em;
        height: calc(100vh - 190px);
        color: white;
        font-size: x-large;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        a {
            color: white;

            &:hover {
                text-decoration: underline;
                text-shadow: 1px 1px 5px $color1;
            }

        }

        ;

        .current {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    ;

    .main>li {
        margin: 0.5em 0;
    }

    .sub {
        font-size: large;
        text-indent: -1em;
        display: none;
    }

    ;

    .main_list {
        display: flex;
        justify-content: space-between;
        margin: 0.5em 0;
    }

    footer {
        margin-top: 1em;
        text-align: center;
        position: relative;
        left: 0;
        width: 100%;
        color: white;
        font-size: 0.8em;
    }
}

//drop down
input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    font-size: small;

    &:hover {
        cursor: pointer;
    }
}


.search {
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    height: 2em;

    form {
        margin: 0;
        padding: 0;
        display: inline;
    }

    .search_input {
        color: white;
        font-family: $font1;
        font-size: large;
        border: none;
        border-bottom: solid 2px white;
        padding: 0;
        margin: 0;
        width: 85%;
        background: transparent;

        &:focus {
            outline: none;
        }

        &::placeholder {
            text-align: center;
            color: rgba(white, 0.7);
        }
    }

    // .search_btn {
    //     color: $brown2;
    // }

    // @media #{$small} {
    //     bottom: 70px;
    // }
}

.nav_toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    @media #{$x_large} {
        visibility: hidden;
    }
}

.goup {
    @extend %button;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
}