nav{
    background-color: $coral1;
    width: 360px;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
    padding: 0;
    z-index: 1;
    li{
        @extend %li_flat;
    };
    .main{
        font-size: x-large;
        text-indent: 1em;
        margin: 0;
        margin-top: 10px;
        padding: 30px;
        a{
            @extend %a_flat;
            &:hover{
                text-decoration: underline;
                color: $black3;
            };
        };
        .current{
            font-weight: bold;
            text-decoration: underline;
        }
    };
    .sub{
        font-size: large;
        text-indent: 0em;
    };
    .main_list{
        display: flex;
        justify-content: space-between;
        margin: 0.5em 0;
    }
}

//drop down
input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label { 
    font-size: small;
    &:hover{
        cursor: pointer;
    }
}


.search{
    text-align: right;
}
.search_input{
    width: 100px;
    font-size: xx-large;
    border: none;
    border-bottom: solid 2px $brown2;
    background-color: $coral1;
    padding: 0px;
    margin: 0;
    visibility: hidden;
    // border-radius: 5px;
}
.nav_toggle{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.logo{
    text-align: center;
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 360px;
    text-shadow: 1px 1px 1px $gray1;
    a{
        @extend %a_flat;
        color: $coral3;
        font-size: 2.5em;
    };
}
footer{
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 360px;
}
.goup{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

// .current{
//     font-weight: bold;
//     text-decoration: underline;
//     // background-color:red;
// }