%flat{
    margin: 0;
	padding: 0;
}
html{
    @extend %flat
}
body{
    @extend %flat;
    font-family: $font1, $font2, $font3;
    color: $black1;
    line-height: 1.6em;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

//main
main{
    position: absolute;
    top:0;
    padding-top:5em;
    padding-bottom:5em;
}
