%flat{
    margin: 0;
	padding: 0;
}
html{
    @extend %flat
}
body{
    @extend %flat;
    font-family: $font1;
    color: $black1;
    line-height: 1.6em;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}


//nav
nav{
    background-color: $coral1;
    width: 360px;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
    padding: 0;
    li{
        @extend %li_flat;
    };
    .main{
        font-size: x-large;
        text-indent: 2em;
        margin: 0;
        margin-top: 10px;
        a{
            @extend %a_flat;
            &:hover{
                font-size: 1.3em;
                color: $black3;
            };
        };
    };
    .sub{
        font-size: large;
        text-indent: 1em;
    };
}
.search{
    text-align: right;
}
.search_input{
    width: 100px;
    font-size: xx-large;
    border: none;
    border-bottom: solid 2px $brown2;
    background-color: $coral1;
    padding: 0px;
    margin: 0;
    visibility: hidden;
    // border-radius: 5px;
}
.nav_toggle{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.logo{
    text-align: center;
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 360px;
    text-shadow: 1px 1px 1px $gray1;
    a{
        @extend %a_flat;
        color: $coral3;
        font-size: 2.5em;
    };
}
footer{
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 360px;
}
.goup{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
}

//main
main{
    position: absolute;
    top:0;
    padding: 5em;
    @media #{$medium}{
        padding-left: 2em;
        padding-right: 2em;
    }
    @media #{$small}{
        padding-left: 1em;
        padding-right: 1em;
    }
}
.full_main{
    width: 100%;
}

.fluid_main{
    width: 56.25em;
}