%flat{
    margin: 0;
	padding: 0;
}
html{
    @extend %flat
}
body{
    @extend %flat;
    font-family: $font1, $font2, $font3;
    color: $black1;
    line-height: 1.6em;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

//main
main{
    position: absolute;
    top:0;
    padding-top:5em;
    padding-bottom:5em;
}

//page layouts
.post_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.post{
    padding: 2em;
    &:hover{
        background-color: $gray1;
        border-radius: 5px;
        cursor: pointer;
        h3{
            text-decoration: underline;
        }
    }
}