<nav class="animated">
	<ul class="main">
		<div class="search"> 
			<form action="/search">
				<input type="text" name="q" id="tipue_search_input" class="search_input" pattern=".{1,}" title="At least 1 characters" placeholder="search🔍" required>
			</form>
		</div>
		
		<br><br>
			<li><a href="/" {% if page.url == '/'%}class="current"{% endif%}>Home</a></li>
		<li><a href="{{site.url}}/about" {% if page.url == '/about/'%}class="current"{% endif%}>About</a></li>
		{% assign pages = site.pages %}
		{% for document in site.documents %}
		{% assign pages = pages | push: document %}
		{% endfor %}

		{% assign subpages = pages | where: "main", false | sort: "order" %}
		{% assign pages = pages | where: "main", true | sort: "order" %}
		
		{% assign count = 0%}
		
		{% for item in pages %}
		{% assign count = count | plus: 1 %}
		<li>
			<div class="main_list">
				<a {% if page.url == item.url %}class="current"{% endif %} href="{{ item.url }}">{{ item.title }}</a>
				{% if item.sub %}
				<input type="checkbox" id="list-item-{{ count }}" />
				<label for="list-item-{{ count }}">▼</label>
				{% endif %}
			</div>
			<ul class="sub">
				{% for subitem in subpages %}
				{% if subitem.category == item.slug %}
       			 <li>
         		 <a {% if page.url == subitem.url %}class="current"{% endif %} href="{{ subitem.url}}">- {{ subitem.title }}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	<div class="logo animated bounce" data-wow-delay="3s"><a href='/'>Sunny Days <i class="fab fa-pagelines fa-lg" color="yellowgreen"></i></a></div>
	<footer>
		<a href="http://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github fa-lg social_btn fa-spin"></i></a>
		Copyright © 2020. Sunny. All rights reserved.
	</footer>
</nav>