<nav class="animated">
    <div class="search">
        <input type="text" class="search_input">
        <i class="fas fa-search fa-2x btn"></i>
    </div>
        <ul class="main">
            {% for main in site.data.pages.menu %}
            <li><a href="{{ main.url }}" class="current">{{ main.name }} </a> 
                    <ul class="sub">
                    {% for sub in main.categories %}
                    <li><a href="{{ sub.url }}">- {{ sub.name }}</a></li>
                    {% endfor%}
                    </ul>
            </li>
            {% endfor %}
        </ul>
        <div class="logo animated bounce"><a href='/'>Sunny Days <i class="fab fa-pagelines fa-lg" color="yellowgreen"></i></a></div>
        <footer>
            <a href="http://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github fa-lg social_btn fa-spin"></i></a>
             Copyright © 2020. Sunny. All rights reserved.
        </footer>
</nav>