<nav>
    <div class="nav_grid">
    <ul class="menu">
        {% for page in site.pages %}
        <li><a href="{{ page.url }}">{{page.title}}</a>
        </li>
        {% endfor %}

            <!-- <li>about</li>
            <li>learning
                <ul class="sub_menu">
                    <li>- programming</li>
                    <li>- psychology</li>
                    <li>- english</li>
                </ul>
            </li>
            <li>reviews
            <ul class="sub_menu">
                <li>- books</li>
                <li>- movies</li>
            </ul>
        </li>
            <li>thoughts
            <li>travels
            <ul class="sub_menu">
                <li>- Asia</li>
                <li>- Europe</li>
            </ul>
        </li>
        </li> -->
    </ul>
    <footer>
        <div class="center_container">
        Copyright©2020. Sunny.<br>All rights reserved.<br><br>
        <a href="http://github.com/{{site.github_username}}" target="_blank">
        <i class="med_i fab fa-github"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:{{site.email}}" target="_blank"></a>
            <i class="med_i far fa-envelope"></i>
    </div>
    </footer>
    </div>
</nav>