/* container, wrapper */
body{
    margin: 0;
    font-family: Candara,'Poor Story', cursive;
}
.wrapper{
    padding: 0;
    margin: 0;
}
main{
    float: right;
    color: #666666;
    width: 100vh;
}
.center_container{
    text-align: center;
    padding: 0;
}
.text_container{
    margin: 0 auto;
    width: 60%;
    text-align: left;
}
.container{
    color: #666666;
}

/* include */
nav{
    background-color:#ffe6e6;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
nav li {
    list-style-type: none;
}
footer{
    grid-area: footer;
    color: #666666;
    font-size: large;
    align-items: end;
}
.up_btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 5;
}
.nav_toggle{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5; 
}
.menu{
    color: #666666;
    grid-area: menu;
    font-size: 1.5em;
    margin: 0;
    padding: 0 10%;
}
.sub_menu{
    font-size: large;
}
.big_i{
    color: #666666;
    font-size: 2em;
}
.med_i{
    color: #666666;
    font-size: 1.5em;
}

.hover{
    font-size: 1.2em;
}

.big_i:hover, .med_i:hover, a:hover, .hover:hover{
    cursor: pointer;
    color:#ff8080;
} 

#logo{
    padding: 20px;
    font-family: harrington;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: #ffaa80;
    cursor: pointer;
}


/* common */

h1{
    color: #333333;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

i{
    font-size: xx-small;
}

a {
    text-decoration: none;
    color: #666666;
}
.s_hr{
    border-collapse: collapse;
    border: 1.5px solid #ffe6e6;
    width: 30px;
    background-color: #ffe6e6;
}
.post_hr{
    background-color: lightgray;
    border: 0.1px solid lightgray;
    
}
.title_top_hr{
    background-color: gray;
    border: 0.5px solid gray;
    width: 50%;
    color: #666666;
    margin: 3% auto;
}
.title_bottom_hr{
    background-color: gray;
    border: 0.5px solid gray;
    width: 50%;
    color: #666666;
    margin: 3% auto;
}

.flat{
    margin: 0;
    padding: 0;
}

.upper{
    text-transform: uppercase;
}


/* resize */
@media(max-width:700px){
    .post_card{
        flex-direction: column;
        height: auto;
    }
    .post_text_set{
        width: 90%;
    }
    .hf_img{
        height: 50vw;
        margin-bottom: 5vw;
    }
}

/* welcome */
#bg{
    width: 100vw;
    height: 200vh;
    background: url("/assets/img/sunrise.jpg");
    background-size: 100% 100%;
    background-position: center;
    position: fixed;
    display:block;
    animation:moving 3s 1;
    animation-fill-mode:both;
}
@keyframes moving{
    0%{transform:translateY(0px);}
    100%{transform:translateY(-350px);}
}

#home{
    position: absolute;
    left:20vw;
    bottom:80vh;
    width: 60vw;
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 2px gray;
    cursor: default;
}
.welcome_hr{
    width: 50vw;
    border-collapse: unset;
    border: solid 2px white;
}
.welcome_title{
    color: white;
}

/* post */
.inline_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
.post_card:hover, .img_card:hover{
    background-color: #f2f2f2;
}
.img_card{
    margin:2%;
    margin-bottom: 1%;
    padding: 15px;
    box-shadow: 0px 0px 2px lightgray;
}
.img_card img{
    margin-bottom: 2vh;
}

.memo_card{
    width: 250px;
    margin:2%;
    margin-bottom: 1%;
    padding: 15px;
    box-shadow: 0px 0px 2px lightgray;
}

.post_card{
    margin:2%;
    margin-bottom: 1%;
    padding: 15px;
    width: 80%;
    height: 120px;
    box-shadow: 0px 0px 2px lightgray;
    display: flex;
    justify-content: space-around;
}
.frame_s{
    height: 120px;
}
.frame_m{
    height: 200px;
}
.frame_34{
    width: 270px;
    height: 360px;
}

.align_flex{
    display: flex;
    align-content: space-around;
}
.justify_flex{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

.wf_img{
    width: 100%;
    height: auto;
}
.hf_img{
    width: auto;
    height: 100%;
}
.tag{
    padding: 3px 5px;
    background: #ffffe6;
}
.post_text_set{
    width: 80%;
    padding:0 5%;
    text-align: left;
}
.post_text_set p{
    color: #cccccc;
}

/*  memo */
.drop_memo{
    position: absolute;
    text-align: left;
    display: none;
    width: 220px;
    height: 250px;
    padding: 15px;
    background-color: #f2f2f2;
}