---
layout: wrapper
---
<h1>ABOUT ME</h1>
<i class="fas fa-calendar-alt"> {{ page.date |  date: '%B %d, %Y' }}</i>
&nbsp;&nbsp;&nbsp;
<i class="fas fa-user-edit"> {{ site.author }}</i>
&nbsp;&nbsp;&nbsp;
<i class="fas fa-folder"></i>
&nbsp;&nbsp;&nbsp;
<i class="fas fa-tag"></i>
&nbsp;&nbsp;&nbsp;
<hr size="1">
<img src="/assets/img/about.jpg" width="500">
<div class="text_container">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus alias fugit, illum dignissimos tempore voluptatibus? Quae possimus ullam facere, culpa aliquid harum perspiciatis. Quod odit ratione, nesciunt unde tempore eligendi.</p>
</div>
