---
layout: page
---

{% assign pages = site.pages %}
{% for document in site.documents %}
{% assign pages = pages | push: document %}
{% endfor %}

{% assign subpages = pages | where: "main", false | sort: "order" %}
{% assign pages = pages | where: "main", true | sort: "order" %}

<div class="post_box">
{% for item in pages %}
    {% if item.slug == page.slug%}
    {% for subitem in subpages %}
    {% if subitem.category == item.slug %}
        <div class="category_box">
            <h1 class="center">
                <i class="far fa-folder-open" color="sandybrown"></i>
                {{subitem.title}}</h1>
             <hr>
            {% for i in site.categories[page.slug]%}
            {% if subitem.slug == i.categories.last%}
               <a href="{{ i.url}}">
                <i class="far fa-sticky-note"></i>
                {{i.date | date:"%B %d"}},&nbsp;&nbsp;&nbsp;&nbsp;{{i.title}}
                </a><br>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
<!-- {% if site.categories[page.slug] %}
    <h1 class="center font_2x">
        <br>
        No Posts Yet :(
    </h1>
{% endif %} -->