---
layout: page
---

<!-- <h1 class="center font_2x">
    <br>
    No Posts Yet :(
</h1> -->

{% for post in site.posts %}
{% if page.slug == post.categories.first %}
<div class="sub_category">
    <a href="{{post.url}}">{{post.title}}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{post.date|date:"%B %d, %Y"}}<br>
</div>
    {% endif %}
{% endfor %}


{% for post in site.posts %}
{% if page.slug == post.categories.first %}
<div class="sub_category">
    <a href="{{post.url}}">{{post.title}}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{post.date|date:"%B %d, %Y"}}<br>
</div>
    {% endif %}
{% endfor %}