---
layout: page
---

<!-- <h1 class="center font_2x">
    <br>
    No Posts Yet :(
</h1> -->

{% assign post = '' %}
{% for post in site.posts %}
{% if page.slug == post.categories.first %}
<div class="sub_category">
    <ul>
        <li>
            <a href="{{post.url}}">{{post.title}}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{post.date|date:"%B %d, %Y"}}
        </li>
    </ul>
</div>
    {% endif %}
{% endfor %}

<div class="post_box">
    <div class="post">
        <h3></h3>
        <hr>
        
    </div>
</div>


<!-- 


{% assign category = site.categories_main | where: "slug", page.slug | first %}
{% if category %}
  {% assign posts = site.categories[page.slug] %}
{% else %}
  {% assign sub_cat = site.categories_sub | where: "slug", page.slug | first %}
  {% if sub_cat %}
    {% assign posts = site.categories.last[page.slug] %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
{% endif %} -->
