<!DOCTYPE html>
<html lang="en">
	
<head>
	{% include head.html %}
	{% include scripts.html %}
	{% include tipuesearch.html %}
</head>

<body>
	<div class="wrapper animated fadeIn">
		{% include nav.html %}

		{% if page.title == 'HOME' %}
		<i class="fas fa-bars fa-2x nav_toggle"></i>
		<div class="main-container animated fadeIn">
			{{ content }}
		</div>
		{% endif %}

		{% if page.title != 'HOME' %}
		<div class="main-container animated fadeIn">
			<i class="fas fa-bars fa-2x nav_toggle"></i>
			<main>
				{{ content }}
				{% if page.comment %}
				{% include comments.html %}
				{% endif %}
			</main>
		</div>
		{% endif %}
		<i class="fas fa-arrow-up fa-2x btn goup"></i>
	</div>
</body>

</html>