---
layout: wrapper
---

<hr class="title_top_hr" size="1">
<h1 class="upper">{{page.title}}</h1>
<hr class="title_bottom_hr" size="1">
<div class="inline_flex">
{% for post in site.posts %}
<div class="img_card">
	<img class="frame_34" src="{{ post.image }}">
	<div class="post_text_set">
		<h3><a class="post_title" href="{{  post.url  }}">{{ post.title }}</a></h3>
		<hr class="s_hr" align="left" />
		<i class="fas fa-calendar-alt"> {{ post.date |  date: '%B %d, %Y' }}</i>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="fas fa-user-edit"> {{ site.author }}</i><br>
		<!-- <i class="fas fa-folder"> {{ post.category }}</i>
            &nbsp;&nbsp;&nbsp;&nbsp; -->
		<i class="fas fa-tag"> {% for tag in post.tags %}
			<span class="tag">{{ tag }}</span>{% endfor %}</i>
		<hr class="post_hr" />
		<p>{{ post.description }}</p>
	</div>
</div>
{% endfor %}
</div>