---
layout: wrapper
---

<hr class="title_top_hr" size="1">
<h1 class="upper">{{page.title}}</h1>
<hr class="title_bottom_hr" size="1">
<div class="inline_flex">
	{% for post in site.posts %}
	{% if page.title == post.category %}
	<div class="memo_card">
		<h3 class="post_title">{{ post.title }}</h3>
		<hr class="s_hr" />
		<i class="fas fa-calendar-alt"> {{ post.date |  date: '%B %d, %Y' }}</i>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="fas fa-user-edit"> {{ site.author }}</i><br>
		<i class="fas fa-tag"> {% for tag in post.tags %}
			<span class="tag">{{ tag }}</span>{% endfor %}</i>
		<hr class="post_hr" />
		<p>{{ post.description }}</p>
		<div class="drop_btn med_i" style="text-align: right;">▼</div>
		<div class="drop_memo">
			{{ post.content}}
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>