--- 
layout: default
comment: true 
--- 

<div class="welcome-box center">
    <p> Your beliefs become your thoughts,<br> Your thoughts become your words,<br> Your words become your actions,<br>
        Your actions become your habits,<br> Your habits become your values,<br> Your values become your destiny.<br>
    </p> ― Gandhi ―
</div>
<!-- <span class="s1">Your beliefs</span> <span class="s2">become</span>
        <span class=s3> your thoughts,</span><br>
        <span class="s1">Your thoughts</span> <span class="s2">become</span>
        <span class=s3> your words,</span><br>
        <span class="s1">Your words</span> <span class="s2">become</span>
        <span class=s3> your actions,</span><br>
        <span class="s1">Your actions</span> <span class="s2">become</span>
        <span class=s3> your habits,</span><br>
        <span class="s1">Your habits</span> <span class="s2">become</span>
        <span class=s3> your values,</span><br>
        <span class="s1">Your values</span> <span class="s2">become</span>
        <span class=s3> your destiny.</span> -->
<!-- <header>
    <h1 class="h1_title left"># Recent posts</h1>
{% for post in site.posts limit: 5%}
<div class="post">
    <a href="{{post.url}}">
        <h3>{{post.title}}</h3>
        <span class="inline"><i class="far fa-smile-wink"></i> {{site.author}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="inline"><i class="far fa-calendar"></i> {{post.date|date:"%B %d, %Y"}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="inline">
        <i class="fas fa-tags"></i> 
        {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
        </span>
        <hr>
        <div>{{ post.description }}</div>
    </a>
</div>
{% endfor %} -->